@import url("https://fonts.googleapis.com/css?family=Montserrat|Orbitron");
html,
body {
  height: 100%;
}

body {
  width: 100%;
  background: #005cbf;
  overflow-x: hidden;
  overflow-y: auto;
}

#header {
  position: absolute;
}

#navigation {
  margin-top: 120px;
  width: 200px;
  display: block;
  list-style: none;
  z-index: 3;
}

.content {
  right: 40px;
  left: 280px;
  top: 50px;
  position: absolute;
  padding-bottom: 0px;
}

.content h2 {
  font-size: 80px;
  font-family: Orbitron;
  padding: 0px 0px 0px 0px;
  margin-top: 52px;
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.content p {
  font-size: 18px;
  padding: 10px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  border: 1px solid #007cbf;
  padding: 10px;
  margin: 3px 0px;
}

.button-1 {
  text-align: center;
  font-family: Montserrat;
  display: block;
  padding: 20px 40px;
  margin: 10px;
  position: relative;
  color: #fff;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.button-1:before {
  font-family: Montserrat;
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #007cbf;
  transition: all 0.3s ease-in-out;
}

.button-1:hover {
  color: #fff;
}

.button-1:hover:before {
  left: 0;
}

.container{
  padding-top: 70px;
  padding-left: 120px;
}

.image{
  padding: 22%;
}

